name: Build APK

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Project
        uses: actions/checkout@v4

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Install Android SDK
        uses: android-actions/setup-android@v3
        - name: Install Build Tools
  run: |
    sdkmanager "platforms;android-33"
    sdkmanager "build-tools;33.0.2"

      - name: Install Gradle
        run: |
          wget https://services.gradle.org/distributions/gradle-7.5-bin.zip
          unzip gradle-7.5-bin.zip
          echo "$(pwd)/gradle-7.5/bin" >> $GITHUB_PATH

      - name: Accept Licenses
        run: yes | sdkmanager --licenses

      - name: Build APK
        run: gradle assembleDebug

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: pegadeals-apk
          path: app/build/outputs/apk/debug/app-debug.apk
